header {
    display: grid;
    grid-template-columns: 250px auto;
    background-color: #464660;
}

.logo {
    display: grid;
    grid-column: 1/2;
    background-color:#F1E9E5;
    text-align: center;
    width: 200;
    height: 100%; 
}

.encabezado {
    display: grid;
    grid-column: 2/7;
    text-align: center;
    color: beige;
    font-size: 70px;
    width: 100%;
    height: fit-content;
}

.menu {
    display: grid;
    background-color: #368B85;
    color: beige;
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.contenido {
    background-color: #F1E9E5;
    grid-column: 1/5;
}

.barralateral {
    background-color: #B4B897;
    grid-column: 5/6;
}

.piedepagina {
    display: grid;
    background-color:#368B85;
    color: beige;
    font-style: italic;
}

h3.titulo3 {
    text-align: center;
    color: black;
    size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

h4.titulo4 {
    text-align: center;
    color: black;
    size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

p.parrafo {
    text-align: justify;
    color: black;
    size: 20px;
    font: arial;
    margin-left: 25px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.imagenes {
    display: block;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
}
